<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.multiview.immi.mutipleview" >
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MulviewActivity"
            android:label="@string/title_activity_mulview" >
        </activity>
        <activity
            android:name=".AbsActivity"
            android:label="@string/title_activity_abs" >
        </activity>
        <activity
            android:name=".VulMulActivity"
            android:label="@string/title_activity_vul_mul" >
        </activity>
    </application>

</manifest>
